*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

nav{
    height: 100px;
    position: fixed;
    top: 40px;
    right: 20px;
    width: 4    00px;
    z-index: 1;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 10px;
    line-height: 30px;
}

.circle{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.card{
    height: 100vh;
}

.back{   
    position: relative;
    height: 100%;
    width: 100%;
}

.red{
    background-color: red ;
    color: yellow;
}

.green{
    background-color: green;
    color: yellow;
}

.yellow{
    background-color: yellow;
    color: green;
}

.shoes{
    width: 100%;
}

.first_shoes{
    width: 350px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

